*.old
/apk.tw-CWM_Mix
/pa_gapps-modular-pico-4.4.4-20141025-signed
/update
/*.zip
/recovery-sc-addon/*.zip
/新增資料夾
/Xposed-Installer-Recovery
/Xposed-Disabler-Recovery
/xposed
/cwm-Xposed.Framework.Installer.v2.4.1
/log.txt
